.acor-container {
    margin: 20px 0;
}

.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #36BFB1;
    line-height: 24px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
}

.acor-container .acor-body p {
    color:black;
    margin: 0 0 10px;
}

@media (max-width:767px) {
    .acor-container .acor-body p {
        line-height: 34px;
    }
}

.acor-container label {
    cursor: pointer;
    background-color: #C5C5C5;
    display: block;
    padding: 10px 20px;
    width: 100%;
    color: black;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;
    margin: 0 0 5px;
    transition: color .35s;
    border-radius: 5px;
}

@media (max-width:767px) {
    .acor-container label {
        padding: 15px 20px;
    }
}

.acor-container label:hover {
    color: #FFF;
}

.acor-container input {
    display: none;
}

.acor-container label:before {
    content: '\276F';
    float: right;
}

.acor-container input:checked+label {
    background-color: #606161;
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acor-container input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acor-container input:checked+label+.acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}