input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}


@media (max-width:992px) {
    body {
        font-size: 24px;
    }
}

@media (max-width:767px) {
    body {
        font-size: 26px;
        line-height: 32px;
    }
}

.container {
    min-width: 1180px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

@media (max-width:1180px) {
    .container {
        min-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        min-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        min-width: none;
    }
}

@media (min-width:1180px) {
    .wrapper {
        width: 72%;
        padding: 0;
        margin: 0 auto;
    }
}

li {
    list-style-type: none;
}

.btn-volume {
    width: 16%;
    padding: 0;
}

@media (max-width:767px) {
    .btn-volume {
        height: 35px;
    }
}

.cream-btn,
.nuts-btn,
.pure-btn {
    height: 25px;
}

@media (max-width:992px) {

    .cream-btn,
    .nuts-btn,
    .pure-btn {
        height: 40px;
        font-size: 24px;
    }
}

@media (max-width:767px) {

    .cream-btn,
    .nuts-btn,
    .pure-btn {
        height: 40px;
        font-size: 24px;
    }
}

.price {
    margin: 0;
    padding: 5px;
}

.btn-add-bin {
    height: 35px;
    width: 50%;
}

@media (max-width:767px) {
    .btn-add-bin {
        height: 60px;
        width: 50%;
    }
}

.top-bin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    cursor: pointer;
    margin-top: 2px;
}

@media (max-width:992px) {
    .top-bin {
        display: none;
    }
}

.producs-added {
    position: relative;
    bottom: 5px;
    left: 5px;
}

.btn-add-bin:hover,
.product_inside,
.btn-volume:hover,
.plus-minus:hover,
.cream-btn:hover,
.nuts-btn:hover,
.pure-btn:hover,
.minus-button:hover,
.plus-button:hover {
    box-shadow: inset 0 -30px 30px -30px rgb(173, 245, 250);
}

.btn-add-bin:active,
.top-bin:active,
.plus-minus:active,
.minus-button:active,
.plus-button:active,
.btn-pressed {
    box-shadow: inset 0 -30px 30px -30px rgb(2, 213, 228);
}

.top-bin:hover {
    transform: scale(1.1);
}


.top-navigation {
    padding: 0 20px;
    height: 35px;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #c5c5c5;
    z-index: 10;
    width: inherit;
}

@media (max-width:992px) {
    .top-navigation {
        background-color: rgba(211, 211, 211, 0.80);
        height: 60px;
    }
}

.top-navigation-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
}

@media (max-width:992px) {
    .top-navigation-list {
        flex-direction: column;
        position: fixed;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        top: -100%;
        background-color: lightgrey;
        right: 0;
        transition: all 0.6s;
        z-index: 1;
    }

    .top-navigation-active {
        top: 60px;
    }
}

.hamburger {
    display: none;
}

@media (max-width:992px) {
    .hamburger {
        display: block;
        width: 40px;
        position: absolute;
        top: 20px;
        right: 15px;
        height: 27px;
        z-index: 2;
    }
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    margin-bottom: 6px;
    transition: 0.5s all;
}

.hamburger_active span {
    margin-bottom: -2px;
}

.hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
}

.hamburger_active span:nth-child(2) {
    display: none;
}

.hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
}

.top-navigation-item {
    margin-right: 20px;
}

@media (max-width:992px) {
    .top-navigation-item {
        margin: 20px;
    }
}

.top-navigation-link {
    font-family: Roboto;
    font-weight: 100;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

@media (max-width:992px) {
    .top-navigation-link {
        font-size: 32px;
    }
}

.top-navigation a:hover {
    border-bottom: solid 2px #40E0D0;
    position: relative;
    top: 3px;
}

.top-navigation a:active {
    color: white;
}

.logo {
    transform: scale(0);
    margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        transition: transform 1s ease;
    }
}

.logo-transition {
    transform: scale(1);
}

.brand {
    position: absolute;
    bottom: 25px;
    right: 100px;
}

@media (max-width:992px) {
    .brand {
        bottom: 20px;
        right: 0px;
    }
}

.cut-overflow {
    overflow: hidden;
}

.brand-active {
    transform: scale(1);
}

.navigation {
    background-image: url("../img/main_test_10.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 18px;
    margin-top: 40px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: inherit;
}

@media (max-width:992px) {
    .navigation {
        background-image: url("../img/main_test_17.webp");
        background-attachment: scroll;
        background-size: cover;
        margin-top: 60px;
    }
}

@media (max-width:767px) {
    .navigation {
        background-attachment: scroll;
        background-size: 140%;
    }
}

.shadow-box {
    position: relative;
    box-shadow: 0 0 3px #cccccc;
}

.shadow-box::before,
.shadow-box::after {
    content: "";
    position: absolute;
    top: 80%;
    bottom: 15px;
    width: 45%;
    max-width: 300px;
    background-color: #dddddd;
    box-shadow: 0 15px 10px #555555;
}

.shadow-box::after {
    transform: rotate(3deg);
    z-index: -1;
    right: 15px;
}

.shadow-box::before {
    transform: rotate(-3deg);
    z-index: -1;
    left: 15px;
}

.topicons {
    position: sticky;
    top: 35px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

@media (max-width:992px) {
    .topicons {
        position: fixed;
        bottom: 0;
        top: auto;
    }
}

.topicons-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 60px;
}

@media (max-width:992px) {
    .topicons-list {
        height: 100px;
    }
}

@media (max-width:767px) {
    .topicons-list {
        height: 110px;
    }
}

.topicons-list-item {
    margin-top: 10px;
    padding: 0;
}

.topicons-list-item-wrap a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.topicons-list-item:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width:992px) {
    .topicons-list-item:hover {
        transform: none;
    }
}

@media (max-width:767px) {
    .topicons-list-item:hover {
        transform: none;
    }
}

.topicons-list-item-ico {
    width: 24px;
}

@media (max-width:992px) {
    .topicons-list-item-ico {
        width: 64px;
    }
}

@media (max-width:767px) {
    .topicons-list-item-ico {
        width: 64px;
    }
}

.topicons-list-item-title {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

@media (max-width:992px) {
    .topicons-list-item-title {
        font-size: 26px;
    }

}

@media (max-width:767px) {
    .topicons-list-item-title {
        font-size: 26px;
    }

}

.shipping {
    text-align: center;
    color: gray;
    margin: 0 auto;
    font-size: 18px;
    color: pink;
}

@media (max-width:1180px) {
    .shipping {
        font-size: 18px;
    }
}

@media (max-width:992px) {
    .shipping {
        font-size: 24px;
    }
}

@media (max-width:767px) {
    .shipping {
        font-size: 28px;
    }
}

.navigation-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation-contacts-list {
    position: absolute;
    display: flex;
    top: 5px;
    right: 20px;
    color: black;
    padding: 0;
    margin-top: 10px;
}

.navigation-contacts-list li {
    margin-left: 10px;
}

.social-ico:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.wellcome {
    height: 200px;
    padding: 10px 0px;
    font-size: 24px;
    text-align: center;
    background-color: white;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

video {
    object-fit: cover;
    object-position: center 30%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    border: 2px solid #000;
    width: 400px;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cream-honey,
.nuts,
.gifts,
.shop,
.order,
.apiary,
.feedbacks,
.faq,
.facts {
    margin-bottom: 35px;
    padding: 0;
}

/* .facts {
    margin-bottom: 30px;
} */

.wellcome-text-1 {
    position: relative;
    right: 2000px;
    transition: transform 0.8s ease;
}

.wellcome-text-active {
    transform: translateX(2000px);
}

.wellcome-text-2 {
    position: relative;
    right: 2000px;
    transition: transform 1.2s ease;
}


.section-title {
    text-align: center;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #40E0D0;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;
}

@media (max-width:992px) {
    .section-title {
        font-size: 58px;
    }
}

@media (max-width:767px) {
    .section-title {
        font-size: 64px;
        text-decoration-thickness: 4px;
    }
}

@media (max-width:992px) {
    .product-title {
        font-size: 30px;
    }
}

@media (max-width:767px) {
    .product-title {
        font-size: 40px;
    }
}

.product-list {
    padding: 0px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
}

.product-list-item {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.product-list-title {
    margin: 0;
    padding-bottom: 5px;
    border-top: 1px solid #40E0D0;
    border-left: 1px solid #40E0D0;
    border-right: 1px solid #40E0D0;
    font-weight: 400;
    font-size: 20px;
}

@media (max-width:992px) {
    .product-list-title {
        padding: 20px;
        font-size: 34px;
    }
}

@media (max-width:767px) {
    .product-list-title {
        padding: 20px;
        font-size: 34px;
    }
}

.product-list-image {
    width: 75%;
    padding: 0;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.product-list-image:active {
    transform: scale(1.8);
}

@media (max-width:992px) {
    .product-list-image:active {
        transform: none;
    }
}

@media (max-width:767px) {
    .product-list-image:active {
        transform: none;
    }
}

.product-list-image-container {
    position: relative;
}

@media (max-width:767px) {
    .product-list-image-container {
        position: static;
    }
}

.product-list-image-container:active {
    z-index: 1;
}

.product-list-image-container:hover {
    z-index: 1;
}

.product-list-image-container:hover .hidden {
    opacity: 1;
}

@media (max-width:992px) {
    .product-list-image-container:hover .hidden {
        opacity: 0;
    }
}

@media (max-width:767px) {
    .product-list-image-container:hover .hidden {
        opacity: 0;
    }
}

.hidden {
    position: absolute;
    display: block;
    opacity: 0;
    top: 85%;
}

.product-list-ingridients {
    background-color: #b9c6b9;
    margin: 0;
    line-height: 22px;
}

@media (max-width:992px) {
    .product-list-ingridients {
        padding: 15px;
    }
}

@media (max-width:767px) {
    .product-list-ingridients {
        padding: 15px;
    }
}

.gift-description {
    min-height: 235px;
    line-height: 10px;
}

@media (max-width:992px) {
    .gift-description {
        min-height: 460px;
    }
}

@media (max-width:767px) {
    .gift-description {
        min-height: 460px;
    }
}

.box-decor {
    padding: 0px;
    margin: -10px;
}

@media (max-width:992px) {
    .box-decor {
        margin: 15px;
    }
}

@media (max-width:767px) {
    .box-decor {
        margin: 15px;
    }
}


.box-decor-label {
    margin-bottom: 10px;
}

.forcream li,
.fornuts li,
.forpure li {
    padding: 5px;
}

.product-list-border {
    border-top: 1px solid #40E0D0;
    border-left: 1px solid #40E0D0;
    border-right: 1px solid #40E0D0;
}

@media (min-width:1180px) {
    .product-list-border {
        line-height: 10px;
    }
}

@media (min-width:992px) {
    .product-list-border {
        line-height: 10px;
    }
}


.product-list-border form {
    margin-top: 20px;
}

textarea {
    max-width: 90%;
    max-height: 55px;
    overflow-y: hidden;
    resize: none;
}

.raz {
    all: unset;
    -moz-appearance: textfield;
    width: 1.5em;
    text-align: center;
}

.raz::-webkit-inner-spin-button {
    display: none;
}

.facts-list {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    padding: 0;
    border-top: 2px solid #E5E6C3;
    border-bottom: 2px solid #E5E6C3;
}

.facts-item {
    display: flex;
    text-align: center;
    padding: 0 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.promo-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    border-bottom: 2px solid #E5E6C3;
    border-top: 2px solid #E5E6C3;
}

.promo-list-item {
    display: flex;
    font-family: roboto;
    width: 180px;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    flex-shrink: 0;
}

@media (max-width:992px) {
    .promo-list-item {
        font-size: 24px;
    }
}

@media (max-width:767px) {
    .promo-list-item {
        font-size: 24px;
    }
}

@media (max-width:992px) {
    .promo_img {
        width: 62px;
        height: 62px;
    }
}

@media (max-width:767px) {
    .promo_img {
        width: 64px;
        height: 64px;
    }
}

.comparison-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:767px) {
    .comparison-container {
        margin-bottom: 20px;
    }
}

.comparison-head {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    align-items: center;
}

.comparison-head-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.comparison-head-block-text {
    text-align: center;
    font-size: 28px;
}

@media (max-width:767px) {
    .comparison-head-block-text {
        font-size: 34px;
    }
}

.comparison-head-icon {
    margin: 0 auto;
}

.comparison-chart-block {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    justify-items: center;
    align-items: center;
}

@media (max-width:767px) {
    .comparison-chart-block {
        height: 110px;
    }
}

.comparison-chart-block-start {
    height: 100%;
    width: 100%;
    border-bottom: 1.5px solid #d0d7d8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparison-chart-block:last-child .comparison-chart-block-start,
.comparison-chart-block:last-child .comparison-chart-block-end {
    border: none;
}

.comparison-chart-block-center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1.5px solid #d0d7d8;
    border-left: 1.5px solid #d0d7d8;
    border-bottom: 1.5px solid #d0d7d8;
}

.comparison-chart-block-text {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}

.comparison-chart-block:last-child .comparison-chart-block-center {
    border-bottom: none;
}

.comparison-chart-block-end {
    height: 100%;
    width: 100%;
    border-bottom: 1.5px solid #d0d7d8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparison-subtitle {
    max-width: 70%;
    margin: 0 auto 1.75rem;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5;
    color: #738889;
    margin-bottom: 0;
}

@media (max-width:767px) {
    .comparison-subtitle {
        font-size: 28px;
        max-width: 90%;
    }
}

@media (max-width:767px) {
    .comparison-subtitle-text {
        margin-bottom: 5px;
    }
}

.phone-container {
    display: flex;
    width: 280px;
    height: 590px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width:992px) {
    .phone-container {
        width: 310px;
        height: 680px;
    }
}

@media (max-width:767px) {
    .phone-container {
        width: 550px;
        height: 1200px;
    }
}

.screenshot-list {
    width: 250px;
    height: 556px;
    top: 13px;
    margin: 0 auto;
    z-index: 0;
    padding: 0;
}

@media (max-width:992px) {
    .screenshot-list {
        width: 280px;
        height: 640px;
    }
}

@media (max-width:767px) {
    .screenshot-list {
        top: 28px;
        width: 500px;
        height: 1145px;
    }
}

.screen-img {
    width: 245px;
}

@media (max-width:992px) {
    .screen-img {
        width: 280px;
    }
}

@media (max-width:767px) {
    .screen-img {
        width: 500px;
    }
}

.phone-img {
    display: block;
    position: absolute;
    width: 278px;
    height: 570px;
    top: 0;
    padding: 0;
    margin: 0 auto;
    z-index: 2;
}

@media (max-width:992px) {
    .phone-img {
        width: 310px;
        height: 655px;
    }
}

@media (max-width:767px) {
    .phone-img {
        width: 560px;
        height: 1170px;
    }
}

.payment-list,
.delivery-list {
    display: flex;
    align-items: baseline;
    margin: 0;
}

@media (max-width:992px) {

    .payment-list,
    .delivery-list {
        flex-direction: column;
    }
}

@media (max-width:767px) {

    .payment-list,
    .delivery-list {
        flex-direction: column;
    }
}

.payment-item-wrap,
.delivery-item-wrap {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding: 10px;
}

@media (max-width:992px) {

    .payment-item-wrap,
    .delivery-item-wrap {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width:767px) {

    .payment-item-wrap,
    .delivery-item-wrap {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}

.payment-item,
.delivery-item {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 200px;
    font-weight: bold;
    text-align: center;
}


@media (max-width:992px) {
    .payment_img {
        width: 62px;
        height: 62px;
    }
}

@media (max-width:767px) {
    .payment_img {
        width: 64px;
        height: 64px;
    }
}

.payment-description,
.delivery-descriprion {
    max-height: 380px;
    margin: 0;
}

.apiary,
.shop {
    padding: 0;
    margin: 0 auto;
}

.apiary-list,
.shop-list {
    display: flex;
    margin: 0;
    padding: 0;
    border-top: solid 2px #E5E6C3;
    border-bottom: solid 2px #E5E6C3;
}

.shop-list-item,
.apiary-list-item {
    display: flex;
    padding: 0;
    margin: 0;
}

.shop-list-item-wrap,
.apiary-list-item-wrap {
    display: flex;
    padding: 0;
    margin: 0;
}

.apiary-text,
.shop-text {
    width: 40%;
    padding: 10px;
    align-self: center;
}

.apiary-image,
.shop-image {
    display: block;
    transition: transform 0.5s ease-in-out;
    width: 60%;
    object-fit: cover;
    object-position: center;
}

.contacts-wrapper {
    height: 600px;
    overflow: hidden;
}

.adress-field {
    text-align: center;
    margin: 10px;
}

.adress {
    position: relative;
    top: -95%;
    left: 60px;
    font-size: 18px;
    width: 220px;
    height: 220px;
    z-index: 9;
    background-color: white;
    border: 1px solid #40E0D0;
}

.adress_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#map {
    height: 600px;
    z-index: 8;
    margin-bottom: 0px;
}

footer {
    background-color: #c5c5c5;
    color: black;
    width: 100%;

}

@media (max-width:992px) {
    footer {
        margin-bottom: 130px;
    }
}

@media (max-width:767px) {
    footer {
        margin-bottom: 140px;
    }
}

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.social-list {
    display: flex;
    padding: 0;
}



.social-list a {
    margin: 5px;
    color: black;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.up-button {
    position: fixed;
    z-index: 20;
    padding: 0;
    bottom: 80px;
    right: 10px;
    width: 64px;
    height: 64px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: none;
    background-color: rgba(255, 255, 255, 0.514);
    border: 3px solid;
    border-radius: 50%;
    cursor: pointer;
}

.up-button:hover {
    box-shadow: inset 0 -30px 30px -30px #D7DC47;
}

.up-button:active {
    box-shadow: inset 0 -30px 30px -30px #D7DC47;
}

.shown {
    display: inline-block;
}

@media (max-width:992px) {
    .up-button {
        display: none;
    }
}

@media (max-width:767px) {
    .up-button {
        display: none;
    }
}