::-webkit-scrollbar{ width: 16px;}  /* 1 - вертикальный скроллбар */
::-webkit-scrollbar:horizontal{ height: 16px;} /* 1 - горизонтальный скроллбар */
/*::-webkit-scrollbar-button {background: #BFC5C1;} 2 - кнопка */
::-webkit-scrollbar-track {background: #BFC5C1;} /* 3 - трек */
::-webkit-scrollbar-track-piece { background: #fcfcfc;} /* 4 – видимая часть трека */ 
::-webkit-scrollbar-thumb {background: #ADC4B6; border-radius: 0px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);} /* 5 - ползунок */

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
   
body {
   
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    margin: 0;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }


li {
    list-style-type: none;
}

h2 {
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color:#40E0D0;
}

.section-title {
    position: relative;
    right: 2000px;
    transition: transform 0.8s ease;
}

.section-title-active {
    transform: translateX(2000px);
}


.btn-volume {
    width: 80px;
    height: 40px;
}

.cream-btn, .nuts-btn, .pure-btn {
    height: 40px;
}

.price {
    margin: 0;
}

.btn-add-bin {
    height: 50px;
    width: 250px;
    font-size: 14px;
}

.top-bin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; 
    margin-right: 10px;
    cursor: pointer;
}

.producs-added {
    position: relative;
    bottom: 5px;
    left: 5px;
}

.plus-minus {
    width: 30px;
    height: 30px;
}

.minus-button, .plus-button {
    width: 25px;
    height: 25px;
}

.btn-add-bin:hover, .product_inside, .btn-volume:hover, .plus-minus:hover, .cream-btn:hover, .nuts-btn:hover, .pure-btn:hover, .minus-button:hover, .plus-button:hover  {
    box-shadow: inset 0 -30px 30px -30px rgb(173, 245, 250);
}

.btn-add-bin:active, .top-bin:active, .plus-minus:active, .minus-button:active, .plus-button:active, .btn-pressed  {
    box-shadow: inset 0 -30px 30px -30px rgb(2, 213, 228);
}

.top-bin:hover {
    transform: scale(1.1);
}

.top-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 1200px;
    margin: 0 auto;
    background-color: #c5c5c5;
    z-index: 10;
}

.top-navigation-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.top-navigation-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.top-navigation a:hover {
    border-bottom: solid 2px #40E0D0;
    position: relative;
    top: 3px;
}

.top-navigation a:active {
    color: white;
}

.logo {
    transform: scale(0);
    margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      transition: transform 1s ease;
    }
    }
.logo-transition {
        transform: scale(1);
      }

/*.logo:hover {
    transform: scale(1.15);
}*/

/*.brand {
    position: relative; 
    padding: 0;
    margin: 0;  
}


.brand-name {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 82px;
    transition: transform 0.8s ease;
    transform: scale(0);
}

.brand-active {
    transform: scale(1);
}*/

.social-ico:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.hello-1 {
    position: relative;
    right: 2000px;
    transition: transform 0.8s ease;
}

.hello-1-active {
    transform: translateX(2000px);
}

.hello-2 {
    position: relative;
    right: 2000px;
    transition: transform 1.2s ease;
}

.hello-2-active {
    transform: translateX(2000px);
}

.navigation {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(#c5c5c5, #a1c4af);
    margin-bottom: 15px;
    margin-top: 50px;
}

.left-list {
    width: 170px;
    margin-right: auto;
    padding-left: 20px;
    color: black;
    align-self: center;
}

.left-list a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.left-list a:hover {
    border-bottom: solid 2px #40E0D0;
    position: relative;
    left: 3px;
    top: 3px;
}

.left-list a:active {
    color: rgb(255, 255, 255);
}


.right-contacts {
    margin-left: auto;
    margin-right: 20px;
    color: black;
    align-self: flex-end;
    padding: 0;
}


.hello-words {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    background-image: linear-gradient(#a1c4af, #98c2a8); 
    color: black;
    margin-bottom: 60px;
}

.product-list {
    display: flex;
    justify-content: space-between; 
    padding: 0;
    flex-shrink: 0;
    flex-grow: 0;
}


.product-item {
    text-align: center;
    width: 375px; 
    padding-right: 5px; 
}

.product-item h3 {
    border-top: 2px solid #40E0D0;
    border-left: 2px solid #40E0D0;
    border-right: 2px solid #40E0D0;
}

.ingridients {
    background-color: #b9c6b9;
}

.product-border {
    border-top: 2px solid #40E0D0;
    border-left: 2px solid #40E0D0;
    border-right: 2px solid #40E0D0;
}

.product-border form {
    margin-top: 20px;
}

.cream, .nuts, .gifts, .feedbacks, .shop, .order, .apiary, .faq  {
    margin-bottom: 80px;
}

.gift-description {
    min-height: 455px;
}


.shop {
    padding: 0;
    margin-bottom: 60px;
}

.shop-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#ffffff, #ecfff4);
}

.shop-text {
    padding: 20px;
    width: 250px;
    align-self: center;
    font-size: 20px;
}

.shop-image {
    border: 3px solid white;
    transition: transform 0.5s ease-in-out;
}

/*.shop-image:active {
    transform: scale(1.5);
}*/


.apiary {
    padding: 0;
    margin-bottom: 60px;
}

.apiary-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#ffffff, #ecfff4);
}


.apiary-text {
    width: 250px;
    padding: 20px;
    align-self: center;
    font-size: 20px;
    
}

.apiary-image {
    border: 3px solid white;
    transition: transform 0.5s ease-in-out;
}


/*.apiary-image:active {
    transform: scale(1.5);
}*/

footer {
    background-color: #c5c5c5;
    color: black;
    min-width: 1200px;
}

.social-list {
    display: flex; 
    padding: 0;
}

.social-list a {
    margin: 5px;
    color: black;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }


.raz {
    all: unset;
    -moz-appearance: textfield;
    width: 1.5em;
    text-align: center;
}

.raz::-webkit-inner-spin-button {
    display: none;
}

.forcream {
    padding: 0;
}

.fornuts {
    padding: 0;
}

.forpure {
    padding: 0;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.adress {
    align-self: center;
    margin-left: 50px;
    font-size: 24px;
}

.up-button {
    position: fixed;
    z-index: 10;
    padding: 0;
    bottom: 75px;
    right: 10px;
    width: 96px;
    height: 96px;
    font-size: 74px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
  }

.up-button:hover {
    box-shadow: inset 0 -30px 30px -30px rgb(173, 245, 250);
  }

.up-button:active {
    box-shadow: inset 0 -30px 30px -30px rgb(2, 213, 228);
}
  
.shown {
    display: inline-block;
  }

  .page-footer {
      display: flex;
      justify-content: space-between;
  }

  .adress-field {
    border-bottom: 2px solid #40E0D0;
  }

  .social-link {
      text-decoration: none;
      color: white;
  }

.product-image {
      padding: 0;
      transition: transform 0.3s ease-in-out;

  }

.product-image:active {
      transform: scale(1.8);
  }

.product-img-container {
    position: relative;
  }

 .product-img-container:active {
    z-index: 1;
  }

.product-img-container:hover {
    z-index: 1;
  }

.product-img-container:hover .hidden {
    opacity: 1;
  }


.hidden {
    position: absolute;
    display: block;
    opacity: 0;
    top: 85%;
  }

  .product-title {
      margin: 0;
  }

.no-padding-container {
    width: 1200px;
    margin: 0 auto;
}

.shadow-box {
    position: relative;
    box-shadow: 0 0 3px #cccccc;
  }

.shadow-box::before,
.shadow-box::after {
  content: "";
  position: absolute;
  top: 80%;
  bottom: 15px;
  width: 45%;
  max-width: 300px;
  background-color: #dddddd;
  box-shadow: 0 15px 10px #555555;
}

.shadow-box::after {
    transform: rotate(3deg);
    z-index: -1;
    right: 15px;
  }

.shadow-box::before {
    transform: rotate(-3deg);
    z-index: -1;
    left: 15px;
  }







